div {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 115, 64, 0.5);
}

h1{
    background-color: pink;
    width: 200px;
    padding-left: 100px;
    padding-top: 100px;
}

span{
    margin-bottom: 30px;
}

#one{
    background-color: coral;
    border-width: 5px;
    border-color: cornflowerblue;
    border-style: solid;
    padding: 2px;
    margin-left: 200px;
    /* box-sizing: border-box; */
    
}

#two{
    background-color: rgb(233, 102, 54);
    border-color: crimson;
    border-width: 3px;
    border-style: dashed;
    border-left-color:cornflowerblue;
    border-left-width: 8px;
    margin: 200px;
}

#three{
    background-color: rgb(207, 70, 20);
    border: 4px outset black;
    border-radius: 10%;
    box-sizing:border-box;
    text-align: center;
    margin: 10px;
}

button{
    padding: 20px;
}

section{
    width: 500px;
    height: 500px;
    background-color: rgba(5, 5, 5, 0.5);
}