*{
    font-family: Arial, Helvetica, sans-serif;
}
.posted {
    background-color: red;
    color:white;
    border-radius: 25px;
    box-shadow: 2px 2px black;
}

body{
    background-color: #cd9777;
}
header{
    background-color: #b07d62;
}

main div{
    box-shadow: 2px 2px 2px 2px black;
    border-radius: 25px;
    margin: 10px;
    width: 70%;
padding: 1px;
}
main div:hover{
    background-color: #dda585;
}

main div:nth-of-type(2n){
    background-color: #b07d62;
}

main div:nth-of-type(2n):hover{
    background-color: #c98f70;
}

button{
    font-size: 20px;
    background-color: #540b0e;
    color: white;
    border-radius: 25px;
}
.cat{
    background-color: red;
    color:white;
    font-size: 12px;
    border-radius: 25px;
    box-shadow: 2px 2px black;
}
#signin{
    background-color: red;
    color: white;
}
#signin:hover{
    background-color: white;
    color: red;
}

button:hover{
    color:  #540b0e;
    background-color: white;
    box-shadow: 2px 2px black;
}


#search{
    border-radius: 25px;
    background-color: #d1a88f;
    
    
}



header button{
    border-radius: 0px;
    padding: 0px 10px 0px 10px;
    border-width: 5px;
    border-style: inset;
     ;
}

.posted a{
    color: white;
    text-decoration: none;
}

.posted a:hover{
    text-decoration: underline;
}

div p{
    margin-left: 15px;
}
